* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* The actual timeline (the vertical ruler) */

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0;
}

/* Linha vertical*/

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(177, 175, 175);
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -3px;
}

/* Container around content */

.containerTime {
    padding: 10px 25px;
    padding-right: 0px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

/* The circles on the timeline */

.containerTime::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid rgb(177, 175, 175);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the right */

.right {
    left: 0.50%;
}

/* Add arrows to the right container (pointing left) */

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 18px;
    width: 0;
    z-index: 1;
    left: 16px;
    border: medium solid rgb(177, 175, 175);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(177, 175, 175) transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */

.content {
    /* padding: 10px 10px;
    background-color: rgb(80, 80, 80); */
    position: relative;
    border-radius: 5px;
}